{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}
{% block head %}
{{ super() }}
{% if article.mathjax %}
<script>window.MathJax = { tex: { tags: 'ams' } };</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
{% endblock %}
{% block content %}
<h1>{{ article.title }}</h1>
<time datetime="{{ article.date.isoformat() }}">
    Date: {{ article.locale_date }}
</time>
{% if article.modified %}
<time datetime="{{ article.modified.isoformat() }}">
    Last Update: {{ article.locale_modified }}
</time>
{% endif %}
{% if article.category %}
<div>
    Categories: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
</div>
{% endif %}
{% if article.tags %}
<div>
    Tags:
    {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% endfor %}
</div>
{% endif %}
<div>
    {{ article.content }}
</div>
{% endblock %}
